node_modules/
commands.md
# Dependencies
/backend/venv*/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/venv*/
**/env/
**/.venv/
**/*.egg-info/

# Environment
backend/.env
.env*
frontend/.env*.local

# Logs & Temp
*.log
.DS_Store
Thumbs.db


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
